/* Typography */

html, body, #root, .app-container {
  font-family: Arial;
  font-size: calc(112.5% + 0.5vw);
  height: 100%;
  min-height: 100%;
  margin: 0;
}


h1 {
  text-align: center;
  font-size: calc(112.5% + 0.5vw)
}

p {
  font-size: calc(75% + 0.5vw);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Columns */
.app-container {
  min-width: 250px;

  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.game-column {
  display: flex;
  width: 100%;

  background-color: #CFD8DC;

  min-width: 250px;
  flex: 2
}

.menu-column {
  flex-direction: column;
  margin: 0;
  min-width: 150px; 

  width: 100%;

  flex: 1;
  order: 1;
  
  background-color: #B0BEC5;
  display: flex;
  text-align: center;
  font-size: 14px;
}

/* Game Column */

.game-container {
  width: 100%;

  order: 2;
  margin: 0 auto auto auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.farm-grid {
  width: 100%;
  margin: 0 ;

  display: flex;
  justify-content: center;
}

.farm-ul {
  width: 100%;
  margin: auto;

  font-size: 25px;
  max-width: 20em;
  justify-content: flex-start;
  display: flex;
  flex-flow: row wrap;
}

.farm {
  width:100%;
  height: 100%;
  display: flex;
  background-color: brown;
  border: 2px solid black;
  flex: 1;
  font-size: calc(50% + 0.5vw);
  height: 3em;
  width: 3em;
}

.farm:hover {
  border: 2px solid yellow;
}

.farm-growth-progress {
  display: block;

  background-color: rgb(0, 150, 0);
}

.farm-info {
  margin: auto;

  text-align: center;
  justify-content: center;
}

.add-farm-li {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  margin: 2px;
}

.add-farm-btn {
  justify-content: center;

  background-color: #eceff1;
  border: 4px dashed #90caf9;
}

/* Menu Column */

.menu {
  margin: 10px auto 0 auto;
  height: 100%;
  width: 75%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  
  background-color: #00BFA5;
}

#menu-title {
  /*font-size: calc(112.5% + 0.5vw)*/
  font-size: calc(125% + 0.5vw);
}

#money-header {
  font-size: calc(187.5% + 0.5vw);
}



.money-display {
  margin: 0;
  text-align: center;
  width: 100%;

  background-color: #64FFDA;
}








